/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 окт. 2023 г., 12:03:04
    Author     : Пажылой ай3
*/

.math-input{
    background-color: #ced4da;
    position: static;
    width: 90%;
    height: 50%;
}
